@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* -webkit-
-moz-
 -ms-
  -o- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
}

body{
    background: url(../assets/background.png)no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.headerPrincipal{
    display: flex;
    align-items: center;
    justify-content: end;
}



.headerDireita p:hover{
    text-align: center;
    color: rgb(31, 184, 77);
    height: 2vh;
}

.headerDireita p {
    color: rgb(18, 65, 54);
    font-weight: 600;
    text-align: center;
    display: inline-block;
    padding: 30px 60px 2px 0px;
    font-family: "Montserrat",sans-serif;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
}

.titulo h1{
    display: flex;
    margin-top: 10vh;
    font-weight: 400;
    text-align: center;
    justify-content:center;
    color: rgb(26, 97, 82);
    font-size: clamp(6em, 1em + 1vw, 1.5em);
}

.titulo h1 b{
    color: rgb(29, 75, 65);
}

.textoCentral p{
    display: flex;
    text-align: center;
    color: rgb(18, 139, 73);
    margin-left: 25vw;
    width: 50vw;
    justify-content: center;
    font-size: clamp(2em, 1em + 1vw, 1.5em);
}

.buttonCentral {
    width: 100vw;
    height:4vh;
    border: none;
    margin-top: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.buttonCentral button{
    height: 50px;
    width: 180px;
    font-weight: 600;
    border-radius: 50px;
    background-color: rgb(214, 253, 237);
    color: rgb(19, 111, 91);
    font-family:"Montserrat",sans-serif;
    border: 2px solid rgb(19, 111, 91);
}

.buttonCentral a{
    color: rgb(26, 97, 82);
    text-decoration: none;
}

.buttonCentral a:hover{
    color: rgb(31, 184, 77);
}

.buttonCentral button:hover{
    background-color: white;
}

.footerPricipal{
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    padding: 0vh 0vh 2vh 70vh;
}

.footerEsquerda img{
    height: 3vh;
    margin-left: 5px;
}

.footerEsquerda p{
    height: 5vh;
    width: 12vw;
    display: flex;
    opacity: 100px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    padding-left: 10px;
    border-radius: 50px;
    margin-right: 5vw;
    align-items: center;
    justify-content: start;
    background: rgba(0, 0, 0, 0.534);
    font-family: "Montserrat",sans-serif;
}

.footerDireita{
    display: flex;
    justify-content: start;
}

.footerCentral ul{
    height: 5vh;
    width: 24vw;
    display: flex;
    opacity: 100px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    padding-left: 10px;
    border-radius: 50px;
    align-items: center;
    justify-content: start;
    background: rgba(0, 0, 0, 0.534);
    font-family: "Montserrat",sans-serif;
}

.membersResgistered{
    font-size: 10px;
    padding-left: 10px;
}

.natureDestination{
    font-size: 10px;
    padding-left: 10px;
}

.umDosQuatro{
    padding-left: 10px;
}

.professionalTrainer{
    font-size: 10px;
    padding-left: 10px;
}

.cincoQuatro{
    padding-left: 10px;
}

.k{
    font-weight: 300;
}

.footerDireita p{
    font-size: 30px;
}

/* QUERYS */

@media screen and (min-width: 2400px) {
    body {
        font-size: 100%;
    }
    
    .buttonCentral button{
        height: 65px;
        width: 240px;
        margin-top: 15px;
    }

    .buttonCentral a{
        font-size: 22px;
        margin-top: 15px;
    }
    
    .headerDireita p {
        padding: 30px 20px 2px 0px;
    }

    .titulo h1{
        font-weight: 600;
        font-size: clamp(6em, 1em + 1vw, 1.5em);
    }

    .textoCentral p{
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 30px;
        font-weight: 400;
        font-size: clamp(2.2em, 1em + 1vw, 1.5em);
    }

    .footerPricipal{
        padding: 0vh 0vh 2vh 40vh;
        position: fixed;
        bottom: 0;
    }

    .footerEsquerda img{
        height: 4vh;
        padding-left: 2px;
    }
    .footerEsquerda p{
        font-size: 34px;
        height: 6vh;
        width: 440px;
    }

    .membersResgistered{
        font-size: 22px;
        padding-left: 10px;
    }
    
    .natureDestination{
        font-size: 22px;
        padding-left: 10px;
    }
    
    .umDosQuatro{
        padding-left: 18px;
    }
    
    .professionalTrainer{
        font-size: 22px;
        padding-left: 18px;
    }
    
    .cincoQuatro{
        padding-left: 18px;
    }
    
    .k{
        font-weight: 300;
    }
    .footerCentral ul {
        height: 6vh;
        width: 34vw;
        font-size: 50px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1500px) {
    body {
        font-size: 50%;
    }
    
    .buttonCentral button{
        height: 35px;
        width: 150px;
        margin-top: 15px;
    }

    .buttonCentral a{
        margin-top: 15px;
    }
    
    .headerDireita p {
        padding: 30px 20px 2px 0px;
    }

    .titulo h1{
        font-weight: 600;
        font-size: clamp(4em, 1em + 1vw, 1.5em);
    }

    .textoCentral p{
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 10px;
        font-weight: 400;
        font-size: clamp(2.2em, 1em + 1vw, 1.5em);
    }
    
    .membersResgistered{
        font-size: 10px;
        padding-left: 10px;
    }
    
    .natureDestination{
        font-size: 10px;
        padding-left: 10px;
    }
    
    .umDosQuatro{
        padding-left: 10px;
    }
    
    .professionalTrainer{
        font-size: 10px;
        padding-left: 10px;
    }
    
    .cincoQuatro{
        padding-left: 10px;
    }
    
    .k{
        font-weight: 300;
    }
    .footerCentral ul {
        width: 355px;
    }
    .footerEsquerda p{
        width: 180px;
    }
    .footerPricipal{
        display: flex;
        justify-content: space-between;
        padding: 0vh 0vh 2vh 40vh;
        position: fixed;
        bottom: 0;
    }
}

@media screen and (min-width: 681px) and (max-width: 900px) {
    .headerDireita p {
        font-size: 12px;
        font-weight: 600;
        padding: 5px 10px 0px 0px;
    }

    .titulo h1{
        margin-top: 6vh;
        font-size: 30px;
    }
    .textoCentral p{
        margin-left: 12vw;
        width: 80vw;
        font-size: 20px;
    }

    .buttonCentral{
        margin-top: 6vh;
    }

    .buttonCentral button{
        height: 4vh;
        width: 30vw;
    }

    .footerPricipal{
        display: flex;
        justify-content: space-between;
        padding: 0vh 0vh 2vh 20vh;
        position: fixed;
        bottom: 0;
    }

    .footerEsquerda img{
        height: 1vh;
        margin-left: 6px;
    }
    
    .footerEsquerda p{
        height: 2vh;
        width: 120px;
        margin-top: 0.5vh;
        font-size: 10px;
    }

    .footerCentral ul{
        height: 3vh;
        width: 48vw;
        font-size: 2vw;
        font-size: 2vh;
        font-weight: 600;
    }
    
    .membersResgistered{
        font-size: 1vw;
        font-size: 1vh;
        padding-left: 1vw;
    }
    
    .natureDestination{
        font-size: 1vw;
        font-size: 1vh;
        padding-left:  1vw;
    }
    
    .umDosQuatro{
        font-size: 2vw;
        font-size: 2vh;
        padding-left:  1vw;
    }
    
    .professionalTrainer{
        font-size: 1.5vw;
        padding-left:  1vw;
    }
    
    .cincoQuatro{
        padding-left:  1vw;
        font-size: 2vh;
    }
    
    .footerDireita p{
        font-size: 30px;
    }
}

@media screen and (max-width: 680px) {
    .headerDireita p {
        font-size: 9px;
        font-weight: 600;
        padding: 6px 14px 0px 0px;
    }

    .titulo h1{
        margin-top: 5vh;
        font-size: 30px;
    }
    .textoCentral p{
        margin-left: 12vw;
        width: 80vw;
        font-size: 15px;
    }

    .buttonCentral{
        margin-top: 4vh;
    }

    .buttonCentral button{
        height: 4vh;
        width: 30vw;
    }

    .footerPricipal{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0vh 0vh 2vh 10vh;
    }

    .footerEsquerda img{
        height: 1vh;
        margin-left: 6px;
    }
    
    .footerEsquerda p{
        height: 2vh;
        width: 120px;
        margin-top: 0.5vh;
        font-size: 10px;
    }

    .footerCentral ul{
        height: 3vh;
        width: 60vw;
        font-size: 2vw;
        font-size: 2vh;
        display: flex;
        align-items: center;
        font-weight: 600;
        margin-top: 15px;
    }
    
    .membersResgistered{
        font-size: 1vw;
        font-size: 1vh;
        padding-left: 5px;
    }
    
    .natureDestination{
        font-size: 1vw;
        font-size: 1vh;
        padding-left: 5px;
    }
    
    .umDosQuatro{
        font-size: 2vw;
        font-size: 2vh;
        padding-left: 5px;
    }
    
    .professionalTrainer{
        font-size: 1.5vw;
        padding-left: 5px;
    }
    
    .cincoQuatro{
        padding-left: 5px;
        font-size: 2vh;
    }
    
    .footerDireita p{
        font-size: 30px;
    }
}